.wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 1);
    color: white;
}

.title {
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.info-box {
    width: 300px;
    display: flex;
    justify-content: center;
}
