.wrapper {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.logo {
    height: 100%;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-logo {
    font-size: 3rem;
    margin-right: 8px;
}

.title-logo {
    font-size: 2rem;
}

.actions-btn {
    color: var(--primary);
    width: 211px;
    display: flex;
    justify-content: start;
    transition: background-color 200ms ease-in-out 0s;

    &:hover {
        background-color: rgb(173, 167, 167);
    }
}

.profile {
    position: relative;
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        height: 28px;
        width: 1px;
        top: 16px;
        left: 10px;
        background-color: rgba(118, 167, 187, 0.795);
    }
}

.user-avatar {
    width: 40px;
    height: 40px;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

.user-name {
    color: var(--primary);
}
